@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/*! basic html codes */
html{
    font-size: 69%;
}
.title{
    font-size: 69%;
}

*{
    font-family: 'Poppins', sans-serif;
margin: 40;
padding: 40;
font-weight: 700;
font-size: 115%;
text-align: center;



}

body{background-color:white}


.menu-bar{
    background-color: gray;
    text-align: center;
    padding: 8px;
}

.menu-bar{

    display: inline-flex;
}

.menu-bar a{
    text-align: center ;
    margin: 30px;
    width: 168px;
    padding: 10px;
    height: 70px;

    text-decoration: none;
    color:white;
}
.active, .menu-bar a:hover{
    background: #d4c995;
    height: 10%;
}

